@model DocScanner.Models.RomanianIdRecord

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RomanianIdRecord</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nume" class="control-label"></label>
                <input asp-for="Nume" class="form-control" />
                <span asp-validation-for="Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenume" class="control-label"></label>
                <input asp-for="Prenume" class="form-control" />
                <span asp-validation-for="Prenume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CNP" class="control-label"></label>
                <input asp-for="CNP" class="form-control" />
                <span asp-validation-for="CNP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cetatenie" class="control-label"></label>
                <input asp-for="Cetatenie" class="form-control" />
                <span asp-validation-for="Cetatenie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sex" class="control-label"></label>
                <input asp-for="Sex" class="form-control" />
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNasterii" class="control-label"></label>
                <input asp-for="DataNasterii" class="form-control" />
                <span asp-validation-for="DataNasterii" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Validitate" class="control-label"></label>
                <input asp-for="Validitate" class="form-control" />
                <span asp-validation-for="Validitate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Domiciliu" class="control-label"></label>
                <input asp-for="Domiciliu" class="form-control" />
                <span asp-validation-for="Domiciliu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Serie" class="control-label"></label>
                <input asp-for="Serie" class="form-control" />
                <span asp-validation-for="Serie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numar" class="control-label"></label>
                <input asp-for="Numar" class="form-control" />
                <span asp-validation-for="Numar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocNastere" class="control-label"></label>
                <input asp-for="LocNastere" class="form-control" />
                <span asp-validation-for="LocNastere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
